- model_class = Question
.page-header
  %h1 Frage Editieren
= render :partial => 'form'


/= link_to 'Anzeigen', [@question.category.quiz, @question.category, @question]
/|
\#{link_to 'Zurück', quiz_category_questions_path(@question.category.quiz, @question.category)}