.page-header
  %h1
    Impressum
    / <small>Subtext for header</small>
.row
  .col-lg-2
    %a.thumbnail.category{:href => "#"}
      = image_tag("result13.png", alt: "Impressum icon")
      %p.text-center
  .col-lg-10
    %address
      %strong Clever-Learning GesBR
      %br/
      Inhaber
      %br/
      Mag. Stefan Stillebacher
      %br/
      Mag. Wolfgang Webhofer
      %br/
    %address
      %strong Clever Learning
      %br/
      Untermarkt 9 / Eingang Wallnöfer-Platz Ost / 1.Stock
      %br/
      6410 Telfs
      %br/
      Österreich
      %br/
    %address
      %abbr{:title => "Phone"} Tel.
      +43 699 17288735
      %br/
      %abbr{:title => "Phone"} E-mail
      %a{:href => "mailto:#"} office@clever-learning.at
      %br/
    %p Für die Richtigkeit und Vollständigkeit der gebotenen Informationen wird keine Gewähr übernommen. Den via Internet bereitgestellten Informationen kommt keine Rechtsverbindlichkeit zu. Verschiedene Elemente auf unserer Seite sind urheberrechtlich oder durch andere gesetzliche Regelungen geschützt. Wir weisen darauf hin, dass es ohne unsere ausdrückliche Zustimmung nicht gestattet ist, unser Angebot im ganzen oder irgendeines seiner rechtlich geschützten Elemente zu kopieren oder sonst wie zu erwerten. Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.