.page-header
  %h1
    Administration

.row
  .col-lg-12
    %a.btn.btn-primary{:href => "#{users_index_path}", :role => "button"} Benutzer
    %a.btn.btn-primary{:href => "#{quizzes_path}", :role => "button"} Quiz
    %a.btn.btn-primary{:href => "#{faqs_path}", :role => "button"} FAQ
    %a.btn.btn-primary{:href => "#{novelties_path}", :role => "button"} Neuigkeiten