.page-header
  %h1
    Studienplan
    / <small>Subtext for header</small>
    

.row
  .col-md-12

    .hspacer-4x
    
    /%h4
    /  Links zu den Studienplänen:
    %ul
      %li
        = link_to "Zum Studienplan der Medizinuniversität Wien 2015/16", "https://www.meduniwien.ac.at/homepage/fileadmin/HP-Relaunch/pdfstudien/HumanmedizinN202/Curr_Human_Kons_Fassung_mit_GrafikNEU__NOV2015.pdf" 
      %li
        = link_to "Zum Studienplan der Medizinuniversität Innsbruck 2015/16", "https://www.i-med.ac.at/studium/studierende/docs/Human.pdf" 
      %li
        = link_to "Zum Studienplan der Medizinuniversität Graz 2015/16", "https://www.medunigraz.at/fileadmin/studieren/humanmedizin/pdf/studienplan.pdf" 
      %li
        = link_to "Zum Studienplan der Medizinuniversität Linz 2015/16", "http://www.jku.at/content/e262/e242/e2380/e221942" 
      
          
    .hspacer-4x 
