.page-header
  %h1
    Skripte
    / <small>Subtext for header</small>
    

.row
  .col-md-12

    .hspacer-4x
    
    /%h4
    /  Links zu den Studienplänen:
    %ul
      %li
        = link_to "Zum Biologie Skript Medat 2016", asset_path('pdf/biologie_skript_medat_2016.pdf') 
      %li
        = link_to "Zum Mathe Skript Medat 2016", asset_path('pdf/chemie_skript_medat_2016.pdf')
      %li
        = link_to "Zum Chemie Skript Medat 2016", asset_path('pdf/mathe_skript_medat_2016.pdf')
      
          
    .hspacer-4x 
