.page-header
  %h1
    Soziales Entscheiden
    / <small>Subtext for header</small>
    
.row
  .col-md-12

    .hspacer-4x

    %p
      In diesem seit 2015 neu hinzugekommenen Untertest musst du aus einer alltäglichen sozialen 
      oder beruflichen Situationsbeschreibung eine Reihung bzw. Gewichtung der angegebenen 
      Handlungsweisen vornehmen, also die fünf Antworten nach ihrer Wichtigkeit ordnen. 1 bedeutet, 
      dass dies deine wichtigste Überlegung und 5 die für dich am wenigsten wichtige ist.

    %ul
      %li
        15 min. für 10 Aufgaben
      %li
        braucht Vernetzung von naturwissenschaftlichen Erkenntnissen mit psychologischen und sozialen Faktoren
      %li
        erfordert deine Soft Skills und Einfühlungsvermögen alltägliche Situationen
      %li
        wähle die für dich sinnvollste Art des Handelns
      %li
        ABER: bedenke auch, die Situation aus mehreren Blickwinkeln zu betrachten
      %li
        versetze dich in die Situation bzw. in die Lage der jeweiligen Personen
      %li
        Themen der Situationen, wie
        %ul
          %li
            respektvoller Umgang mit Patienten und deren Angehörigen, Arbeitskollegen und weiterem Personal
          %li
            Empathie und Verständnis für sein Gegenüber und die vorliegende Situation spüren
          %li
            Wahrung der Schweigepflicht
      %li
        Anwendung: diagnostische und therapeutische Entscheidungsprozesse in alltäglichen ärztlichen Situationen

    .hspacer-4x
    
    %img.featurette-image.img-responsive.no-bottom-margin{:alt => "Generic placeholder image", :src => "#{image_path('info/untertests_h1.png')}"}

    .hspacer-4x
