.page-header
  %h1
    Implikationen erkennen
    / <small>Subtext for header</small>
    
.row
  .col-md-12

    .hspacer-4x
    
    %p
      In diesem Untertest ist aus den zwei gegebenen Aussagen in Form von kurzen Phrasen eine logisch ableitbare 
      Schlussfolgerung zu ziehen. Es muss aus den zwei Aussagen eine Verbindung gefunden und dann aus den vier 
      Antwortmöglichkeiten die einzig logische ausgewählt werden. Es kann natürlich auch vorkommen, dass keine 
      der angegebenen Schlüsse richtig ist und die Antwort e (keine der Antwortmöglichkeiten ist richtig) 
      anzukreuzen ist.
    %ul
      %li
        10 min für 10 Aufgaben
      %li
        gehe davon aus, dass die Aussagen wahr sind; sie müssen nicht deiner Erfahrung entsprechen
      %li
        häufige Formulierungen, wie „Alle Lebewesen sind …“
      %li
        prüft die Fähigkeit, aus dem erworbenen Wissen Schlussfolgerungen zu ziehen
      %li
        Anwendung: Erstellen von Diagnosen und Einleiten medizinischer bzw. therapeutischer Maßnahmen anhand vorliegender Befunde 
    
    .hspacer-4x
    
    %img.featurette-image.img-responsive.no-bottom-margin{:alt => "Generic placeholder image", :src => "#{image_path('info/untertests_f1.png')}"}

    .hspacer-4x
        
       