.page-header
  %h1
    Basiskenntnistest Medizinische Studien (BMS)
    / <small>Subtext for header</small>
    
.row
  .col-md-12
    
    .hspacer-4x
    
    %ul
      %li
        schriftlicher Multiple-Choice-Test mit 90 Fragen
      %li
        80 min Zeit
      %li
        5 Antwortmöglichkeiten – nur 1 Auswahl möglich
        %ul
          %li
            möglich, dass keine der angegebenen Lösungen richtig ist und die Antwort e 
            (keine der Antwortmöglichkeiten ist richtig) anzukreuzen ist
      %li   
        2 Fragen-/Antworttypen:
        %ul
          %li    
            Fragetext mit 5 Antwortmöglichkeiten
            %br/
            %img.featurette-image.img-responsive.no-bottom-margin{:alt => "Generic placeholder image", :src => "#{image_path('info/untertests_a1.png')}"}
          %li
            Kombinationsfrage: Antworten bereits in der Frage
            %br/
            %img.featurette-image.img-responsive.no-bottom-margin{:alt => "Generic placeholder image", :src => "#{image_path('info/untertests_a2.png')}"}
      %li        
        Schulisches Vorwissen der Unter- und Oberstufe (AHS) in den Fächern:
        %ul
          %li
            Biologie (40 Fragen)
          %li
            Chemie (24 Fragen)
          %li
            Physik (16 Fragen)
          %li
            Mathematik (10 Fragen)
      %li
        Beliebige Reihenfolge der einzelnen Bereiche


    .hspacer-4x


