.page-header
  %h1
    Testaufbau
    / <small>Subtext for header</small>
    
.row
  .col-md-12
  
    .hspacer-4x
    
    %p
      Einlass um ca. 8.00 Uhr, Beginn ca. 9.00 Uhr, Ende ca. 17.00 Uhr
      %br/
      Die genaue Reihenfolge der einzelnen Untertests kann man nicht mit 100 %iger 
      Sicherheit nenne, weil sich diese in den vergangenen Jahren immer geändert hatte.
  
    .hspacer-4x
    
    %h4
      Testablauf Humanmedizin (MedAT-H)
  
    %table.table.table-striped.table-hover
      %tr
        %th Untertest
        %th Aufgaben
        %th Zeit
      %tr
        %td Basiskenntnistest
        %td 90
        %td 80 Minuten
      %tr
        %td Textverständnis
        %td 10
        %td 30 Minuten
      %tr
        %td Mittagspause
        %td 
        %td 60 Minuten
      %tr
        %td Figuren zusammensetzen
        %td 15
        %td 20 Minuten
      %tr
        %td Gedächtnis und Merkfähigkeit (Lernphase)
        %td 8 Ausweise
        %td 8 Minuten
      %tr
        %td Zahlenfolgen
        %td 10
        %td 15 Minuten
      %tr
        %td Implikationen erkennen
        %td 10
        %td 10 Minuten
      %tr
        %td Gedächtnis und Merkfähigkeit (Reproduktionsphase)
        %td 25
        %td 15 Minuten
      %tr
        %td Wortflüssigkeit
        %td 15
        %td 20 Minuten
      %tr
        %td Soziales Entscheiden
        %td 10
        %td 15 Minuten
     
    .hspacer-4x
    
    %h4
      Testablauf Zahnmedizin (MedAT-Z)
  
    %table.table.table-striped.table-hover
      %tr
        %th Untertest
        %th Aufgaben
        %th Zeit
      %tr
        %td Basiskenntnistest
        %td 90
        %td 80 Minuten
      %tr
        %td Praktischer Test:
        %td 
        %td 
      %tr
        %td a) Manuelle Fertigkeiten - Formen spiegeln
        %td 6
        %td 45 Minuten
      %tr
        %td b) Manuelle Fertigkeiten - Draht biegen
        %td 2
        %td 45 Minuten
      %tr
        %td Mittagspause
        %td 
        %td 60 Minuten
      %tr
        %td Figuren zusammensetzen
        %td 15
        %td 20 Minuten
      %tr
        %td Gedächtnis und Merkfähigkeit (Lernphase)
        %td 8 Ausweise
        %td 8 Minuten
      %tr
        %td Zahlenfolgen
        %td 15
        %td 20 Minuten
      %tr
        %td Gedächtnis und Merkfähigkeit (Reproduktionsphase)
        %td 25
        %td 15 Minuten
      %tr
        %td Wortflüssigkeit
        %td 10
        %td 15 Minuten
      %tr
        %td Soziales Entscheiden
        %td 10
        %td 15 Minuten
  
  
    .hspacer-4x
    
    %h4
      Gewichtung 
  
    %table.table.table-striped.table-hover
      %tr
        %th Testteil
        %th Gewichtung MedAT-H
        %th Gewichtung MedAT-Z
      %tr
        %td Basiskenntnistest für Medizinische Studiengänge (BMS)
        %td 40 %
        %td 30 %
      %tr
        %td Textverständnis (TV)
        %td 10 %
        %td 
      %tr
        %td Kognitive Fähigkeiten und Fertigkeiten (KFF)
        %td 40 %
        %td 30 %
      %tr
        %td Manuelle Fertigkeiten (MF) 
        %td -
        %td 30 %
      %tr
        %td Soziales Entscheiden (SE)
        %td 10 %
        %td 10 %
      %tr
        %td Gesamt
        %td 100 %
        %td 100 
  
  
    .hspacer-4x
  
  
  
  
  
  
  
  
  
  
