.page-header
  %h1
    Zahlenfolgen
    / <small>Subtext for header</small>
    
.row
  .col-md-12

    .hspacer-4x

    %p
      In diesem Untertest musst du ein regelmäßiges System der Abfolge der Zahlen erkennen und die vorgegebene 
      Zahlenreihe ausschließlich mit den vier mathematischen Grundrechnungsarten +, -, x, ÷ mit zwei weiteren 
      Zahlen ergänzen. Es kann natürlich auch vorkommen, dass keine der angegebenen Zahlen richtig ist und die 
      Antwort e (keine der Antwortmöglichkeiten ist richtig) anzukreuzen ist.        

    %ul
      %li
        15 min. für 10 Aufgaben
      %li
        6 Zahlen vorgegeben – mit 2 weiteren ergänzen
      %li
        prüft logisches Denken, um Gemeinsamkeiten und Unterschiede zu erfassen
        
    .hspacer-4x
    
    %img.featurette-image.img-responsive.no-bottom-margin{:alt => "Generic placeholder image", :src => "#{image_path('info/untertests_e1.png')}"}

    .hspacer-4x
