.page-header
  %h1
    Wortflüssigkeit
    / <small>Subtext for header</small>
    
.row
  .col-md-12

    .hspacer-4x
    
    %p
      In diesem Untertest musst du die vorgegebenen Buchstaben, welche in zufälliger Reihenfolge stehen, 
      zu einem einzigen sinnvollen Hauptwort in die richtige Reihenfolge zusammensetzen und dann den 
      Anfangsbuchstaben in den Antwortmöglichkeiten ankreuzen. Es kann natürlich auch vorkommen, dass 
      keine der angegebenen Anfangsbuchstaben richtig ist und die Antwort e 
      (keine der Antwortmöglichkeiten ist richtig) anzukreuzen ist.

    %ul
      %li
        20 min für 15 Aufgaben
      %li
        Wörter bestehen aus mindestens fünf Buchstaben
      %li
        keine Eigenwörter, wie z.B. Städte oder Länder
      %li
        keine Pluralformen/Mehrzahlen, wie z.B. Katzen
      %li
        ausschließlich Hauptwörter
      %li
        prüft die Fähigkeit, vorhandenes Wissen problemlösungsorientiert, zielgerichtet und flexibel aus dem Gedächtnis wiederzugeben
      %li
        Anwendung: zur Erstellung von Diagnosen und Planung medizinischer und therapeutischer Anweisungen

    .hspacer-4x
    
    %img.featurette-image.img-responsive.no-bottom-margin{:alt => "Generic placeholder image", :src => "#{image_path('info/untertests_g1.png')}"}

    .hspacer-4x