.page-header
  %h1
    Allgemeines zu MedAT-H/Z
    / <small>Subtext for header</small>
    
.row
  .col-md-12
    
    .hspacer-4x
      
    %p
      Der Medizinaufnahmetest ist ein rein schriftlicher Multiple-Choice-Test und wird Anfang Juli an einem 8-stündigen Tag 
      %br/
      mit Mittagspause in Graz, Innsbruck, Linz und Wien ausschließlich in Deutsch abgehalten. 
      %br/
      Achtung: Zahnmedizin könnt ihr nur an den Universitäten in Graz, Innsbruck und Wien studieren – NICHT in Linz!
    
    %p
      Für die Teilnahme musst du dich bereits im März anmelden und € 110,00 im Vorhinein als deinen Kostenanteil an die Medizinuniversität überweisen. 
      %br/
      Achtung: Es gibt unterschiedliche Konto- bzw. Zahlungsmodalitäten an den vier Universitäten. 
      %br/
      Die Anmeldung und die Zahlung des Kostenanteils sind strenge Voraussetzungen für die Teilnahme zum MedAT. 
    
    %p
      Der Aufnahmetest Humanmedizin - MedAT-H besteht aus vier folgenden Unterrubriken:
      
    %ul
      %li
        Der <b>Basiskenntnistest Medizinische Studien (BMS)</b> dient zur Überprüfung des schulischen Vorwissens 
        der vier medizinrelevanten Grundlagenfächer Biologie, Chemie, Physik und Mathematik auf Maturaniveau.
      %li
        Der Untertest <b>Textverständnis (TV)</b> überprüft die Lesekompetenz, das Verständnis von komplexeren Texten, 
        das Erkennen von Zusammenhängen und das Ziehen von richtigen Schlussfolgerungen.
      %li
        Der Untertest bestehend aus den <b>Kognitiven Fähigkeiten und Fertigkeiten (KFF)</b> setzt sich aus fünf 
        Aufgabengruppen zusammen:
        %ul
          %li
            <b>Zahlenfolgen (ZF)</b>: Misst die Fähigkeit, allgemeine Gesetzmäßigkeiten zu erkennen, 
            Implikationen zu verstehen und logische Schlüsse zu ziehen.
          %li
            <b>Gedächtnis und Merkfähigkeit (GM)</b>: Misst die kognitive Fähigkeit, sich Inhalte figuraler, 
            numerischer und verbaler Art einzuprägen, sodass auf diese bei Bedarf flexibel zugegriffen 
            werden kann und diese in einer mittelbar anschließenden Testphase wiedererkannt und
            richtig zugeordnet werden können.
          %li
            <b>Figuren zusammensetzen (FZ)</b>: Misst die kognitive Fähigkeit, visuoanalytische sowie 
            visuokonstruktive Leistungen zu erbringen.
          %li
            <b>Wortflüssigkeit (WF)</b>: Misst die Flexibilität des Abrufs von Wissensinhalten aus dem 
            semantischen Gedächtnis.
          %li
            <b>Implikationen erkennen (IMP)</b>: Misst die Fähigkeit, aus Aussagen logisch zwingende 
            Schlussfolgerungen ziehen zu können.
      %li 
        Der Testteil <b>Soziales Entscheiden (SE)</b> misst die Eigenschaft, Entscheidungen in sozialen Kontexten 
        hinsichtlich ihrer Bedeutung zu reihen. Erfasst wird ein Bereich, der besonders in der Medizin 
        eine hohe handlungsleitende Relevanz hat.
    %p
      Für den <b>MedAT Zahnmedizin</b> gibt es statt dem Testteil Textverständnis folgende zwei Untertests:
  
    %ul
      %li
        <b>Drahtbiegen</b>: Hier werden deine manuellen Fähigkeiten geprüft. Ein Stahldraht mit einem 
        Durchmesser von 0,7 mm muss mit einer Flachspitzzange, einer Hohlkehlzange und einem Stift 
        für das Markieren der Biegestellen am Draht in eine vorgegebene Form gebracht werden. 
        In 45 min musst du zwei vorgegebene Formen aus drei federharten Drähten (einer als Ersatz) biegen.
      %li
        <b>Formen spiegeln: </b> vorgegebene Figur mit Orientierungspunkten auf der linken Seite muss 
        so genau wie möglich auf die rechte Seite gespiegelt werden, wobei auch dort die Orientierungspunkte 
        vorgegeben sind, welche aber nicht auf derselben Höhe liegen. Es gilt, sechs Figuren innerhalb von 
        45 min genau zu spiegeln.
  
    %p
      Detaillierte Informationen zu den einzelnen Themengebieten des BMS, des Textverständnisses, der 
      Kognitiven Fähigkeiten und des Sozialen Entscheidens findest du in der Rubrik 
      =link_to "Untertests.", static_pages_quiz_categories_path(:id => 1)
      
    %p
      <b>Termine</b>
    %ul
      %li
        Onlineanmeldung:  1. – 31. März 2016
      %li
        Testdurchführung: 1. Juli 2016
      %li
        Ergebnisse: ab ca. Anfang August online abrufbar
        
    %p
      <b>Erforderliche Daten für die Testanmeldung:</b>
    %ul
      %li
        Name
      %li
        Geburtsdatum
      %li
        Heimatadresse
      %li
        Studienort und Studienfach (Human- oder Zahnmedizin) – diese Angaben können NICHT mehr geändert werden.
  
    %p
      <b>Gebühren</b>
    %ul
      %li
        € 110,--
        
        
    .hspacer-4x
  
    %h4
      Verfügbare Studienplätze
  
    %table.table.table-striped.table-hover
      %tr
        %th Ort
        %th Humanmedizin
        %th Zahnmedizin
        %th Gesamt
      %tr
        %td Medizinische Universität Wien
        %td 660
        %td 80
        %td 740
      %tr
        %td Medizinische Universität Innsbruck
        %td 360
        %td 40
        %td 400
      %tr
        %td Medizinische Universität Graz
        %td 336
        %td 24
        %td 360
      %tr
        %td Medizinische Universität Linz
        %td 60
        %td -
        %td 60
      %tr
        %td Gesamt
        %td 1.416
        %td 144
        %td 1.560
  
  
    .hspacer-4x
    
    %h4
      Kontingente Humanmedizin
    
    %table.table.table-striped.table-hover
      %tr
        %th
        %th ÖsterreicherInnen
        %th Restliche EU-BürgerInnen
        %th Nicht EU-AusländerInnen
      %tr
        %td 
        %td 75 %
        %td 20 %
        %td 5 %
      %tr
        %td Medizinische Universität Wien
        %td 495
        %td 132
        %td 33
      %tr
        %td Medizinische Universität Innsbruck
        %td 270
        %td 72
        %td 18
      %tr
        %td Medizinische Universität Graz
        %td 252
        %td 67
        %td 17
      %tr
        %td Medizinische Universität Linz
        %td 45
        %td 12
        %td 3
      %tr
        %td Gesamt
        %td 1062
        %td 283
        %td 71
  
  
    .hspacer-4x
    
    %h4
      Kontigente Zahnmedizin
    
    %table.table.table-striped.table-hover
      %tr
        %th
        %th ÖsterreicherInnen
        %th Restliche EU-BürgerInnen
        %th Nicht EU-AusländerInnen
      %tr
        %td 
        %td 75 %
        %td 20 %
        %td 5 %
      %tr
        %td Medizinische Universität Wien
        %td 60
        %td 16
        %td 4
      %tr
        %td Medizinische Universität Innsbruck
        %td 30
        %td 8
        %td 2
      %tr
        %td Medizinische Universität Graz
        %td 18
        %td 5
        %td 1
      %tr
        %td Gesamt
        %td 108
        %td 29
        %td 7
  
    .hspacer-4x
    
    %h4
      Gleichgestellte Personen
      
    %p
      Folgende Personengruppen werden zum ÖsterreicherInnenkontingent (75 %) gezählt:
    
    %ul
      %li
        Personen mit einem dem österreichischen Reifezeugnis (Matura) gleichgestellten 
        Abschluss nach der Personengruppenverordnung.
      %li
        Begünstigte Drittstaatsangehörige mit folgenden Aufenthaltstiteln und Erfüllung 
        der Personengruppenverordnung:
        %ul
          %li
            “Daueraufenthalt – EG” ausgestellt von der zuständigen österreichischen Behörde,
          %li
            “Daueraufenthalt – EG” ausgestellt von der zuständigen Behörde eines anderen Mitgliedsstaates 
            und eine Niederlassungsbewilligung für Österreich,
          %li
            “Daueraufenthaltskarte” ausgestellt von der zuständigen österreichischen Behörde.
      %li
        Türkische Staatsangehörige aufgrund des Assoziationsabkommens EWG – Türkei. Voraussetzungen:
        %ul
          %li
            Wohnhaft bei den Eltern in Österreich
          %li
            Beschäftigung der Eltern in Österreich
          %li
            Erfüllung der Personengruppenverordnung
      %li
        EU-BürgerInnen, begünstigte Drittstaatsangehörige und vom Assoziationsabkommen EWG – Türkei umfasste Personen, 
        deren Reifezeugnis auf Grund bi- oder multilateraler Verträge (Liechtenstein, Luxemburg) mit 
        einem österreichischen Reifezeugnis als gleichgestellt gelten und Erfüllung der Personengruppenverordnung.
        
    %p
      (Quelle: 
      =link_to "www.medizinstudieren.at/allgemeine-informationen/kontingent/gleichgestellte-personen/", "http://www.medizinstudieren.at/allgemeine-informationen/kontingent/gleichgestellte-personen/"
      )
      
    .hspacer-4x
    
    %h4
      Gewichtung
    
    %table.table.table-striped.table-hover
      %tr
        %th Testteil
        %th Gewichtung MedAT-H
        %th Gewichtung MedAT-Z
      %tr
        %td Basiskenntnistest für Medizinische Studiengänge (BMS)
        %td 40 %
        %td 30 %
      %tr
        %td Textverständnis (TV)
        %td 10 %
        %td -
      %tr
        %td Kognitive Fähigkeiten und Fertigkeiten (KFF)
        %td 40 %
        %td 30 %
      %tr
        %td Manuelle Fertigkeiten (MF) 
        %td -
        %td 30 %
      %tr
        %td Soziales Entscheiden (SE)
        %td 10 %
        %td 10 %
      %tr
        %td Gesamt
        %td 100 %
        %td 100 %
  
  
    .hspacer-4x
    
    %h4
      Unterschiede beim MedAT Zahnmedizin
      
    %ul
      %li
        Die Gewichtung beim Basiskenntnistest für Medizinische Studien (BMS) liegt bei 
        Humanmedizin bei 40 %, bei Zahnmedizin hingegen bei 30 %.
      %li
        Der Kognitive Teil ist bei beiden Studienrichtungen gleich und besteht aus den 
        Untertests Gedächtnis und Merkfähigkeit, Zahlenfolgen und Figuren zusammensetzen 
        und Wortflüssigkeit. Die Gewichtung ist bei Humanmedizin mit 40 %, bei Zahnmedizin 
        mit 30 % festgelegt.
      %li
        Anstelle des Untertests Textverständnis kommen für Zahnmediziner die Module Drähtebiegen 
        und Formenspiegeln zum Einsatz. Die Gewichtung liegt bei 30 % des Gesamtergebnisses.
      %li
        Zahnmedizin könnt ihr nur an den Universitäten in Graz, Innsbruck und Wien studieren 
        – NICHT in Linz!  -> auf 1. Seite geschoben
        
        
    .hspacer-4x
  
