.page-header
  %h1
    Textverständtnis
    / <small>Subtext for header</small>
    
.row
  .col-md-12

    .hspacer-4x
    
    %p
      In diesem Untertest musst du einen anspruchsvollen Text durchlesen und anschließend 
      inhaltliche Fragen dazu beantworten. Es kann natürlich auch vorkommen, dass keine 
      der angegebenen Lösungen richtig ist und die Antwort e (keine der Antwortmöglichkeiten ist richtig) 
      anzukreuzen ist.
    %ul
      %li
        letzter Testteil des Med-AT mit 10 % der Gesamtpunktezahl, daher nochmal richtig konzentrieren
      %li
        30 min für 10 Fragen
      %li
        12-15 meist medizinische oder naturwissenschaftliche Texte – zwischen einer halben und einer ganzen A4-Seite pro Text
      %li
        Textlängen variieren: von Texten mit 75 Wörtern und einer Frage bis zu Texten mit 300 Wörtern und sechs Fragen
      %li
        auch Diagramme oder Steuerungsabläufe möglich
      %li
        oft komplexer Schreibstil und präzise Fragestellungen
      %li
        Zeit ist großzügig bemessen und reicht zum sorgfältigen Durchlesen, allenfalls ein zweites Mal lesen
      %li
        nicht auf eigenes Wissen zurückgreifen – Antworten findest du ausschließlich im Text
      %li
        Antworten beginnen mit: „Welche der folgenden Aussagen lassen sich (nicht) aus dem Inhalt des Textes ableiten?“ 
        oder mit spezifischen Fragestellungen
      %li
        Tipp: zuerst die Fragestellungen lesen, Skizzen anfertigen, zusammenhängende Inhalte gleich markieren. 
        Auch Notizen, Markierungen und Gliederungen des Textes helfen dir
    
    .hspacer-4x
    
    %img.featurette-image.img-responsive.no-bottom-margin{:alt => "Generic placeholder image", :src => "#{image_path('info/untertests_b1.png')}"}

    .hspacer-4x