.page-header
  %h1
    Zahnmedizin: Formen spiegeln
    / <small>Subtext for header</small>
    
.row
  .col-md-12

    .hspacer-4x

    %p
      Beim MedAT-Z Untertest Formen spiegeln musst du sechs vorgegebene Figuren, welche jeweils 
      auf der linken Seite mit vier Orientierungspunkten sind, auf der rechten Seite spiegelverkehrt 
      zeichnen. Es werden dir wiederum vier Orientierungspunkte vorgegeben, jedoch sind diese höhenversetzt.

    %ul
      %li
        45 min für 6 Aufgaben
      %li
        man bekommt
      %li
        6 Vorlagen auf jeweils einem DIN A4-Papier
      %li
        1 schwarzen Faserstift
      %li
        keine weiteren Hilfsmittel erlaubt
      %li
        nie den Stift absetzen
      %li
        nur eine Linie zwischen den Punkten zeichnen, weil der Computer bei der Auswertung die weitest entfernte verwendet

    .hspacer-4x




