.page-header
  %h1
    Tipps zum Test
    / <small>Subtext for header</small>
    
.row
  .col-md-12
    
    .hspacer-4x
    
    %h4
      Das solltest du zum Test mitbringen:
      
    %ul
      %li
        Lichtbildausweis
      %li
        Einladungsschreiben
      %li
        2-3 Schreibwaren mit blauer oder schwarzer Tinte aufgrund der elektronischen Auswertung
      %li
        Textmarker 
      %li
        analoge Uhr
      %li
        genügend zu trinken – hält die Konzentration
      %li
        Ohropax, damit du nicht abgelenkt wirst
        
        
    .hspacer-4x
    
    %h4
      Achtung: diese Hilfsmittel sind nicht zulässig:
  
    %ul
      %li
        Lernunterlagen, Bücher, Mitschriften, Formelsammlungen etc.
      %li
        Eigenes Papier (Notizen in den Fragebögen sind erlaubt)
      %li
        elektronische Geräte, wie Mobiltelefone etc.
      %li
        Lineale
      %li
        digitale Uhren
  
  
    .hspacer-4x
    
    %h4
      Das solltest du während des Tests beachten:
  
    %ul
      %li
        Testzeit gut einteilen
      %li
        Bewertet wird der Antwortbogen, nicht das Testheft
      %li
        Zuerst im Frageheft ankreuzen, ganz sichere Antworten einkreisen und zum Schluss auf den Antwortbogen übertragen (Zeit zum Eintragen beim BMS ca. 30 Minuten) oder sofort auf den Antwortbogen eintragen und unsichere Antworten farbig markieren, um später zurückzukehren.
      %li
        Beim Antwortbogen nicht in der Zeile verrutschen, daher mit Ausweis, etc. die untere Zeilen zuhalten
      %li
        Keine Falten und Eselsohren anbringen
      %li
        Keine Beschriftung der Passrecken (was ist das?) am unteren Ende
      %li
        Gut sichtbare Kreuze aufgrund der maschinellen Bearbeitung machen
      %li
        Bei falsch gesetzten Kreuzen das ganze Kästchen ausmalen und das richtige ankreuzen
        
    .hspacer-4x
  
    %p
      %img.featurette-image.img-responsive.no-bottom-margin{:alt => "Generic placeholder image", :src => "#{image_path('info/tips_1.png')}"}
      /= image_tag("info/tips_1.png", alt: "Tip 1", class: "")
      
    %p
      %img.featurette-image.img-responsive.no-bottom-margin{:alt => "Generic placeholder image", :src => "#{image_path('info/tips_2.png')}"}
      /= image_tag("info/tips_2.png", alt: "Tip 2", class: "")
      
    .hspacer-4x