.page-header
  %h1
    Neuigkeiten
    / <small>Subtext for header</small>
.row
  /.col-lg-2
  /  %a.thumbnail.category{:href => "#"}
  /    = image_tag("placeholder_icon.png", alt: "Neuigkeiten icon")
  /    %p.text-center
  /  %a.btn.btn-default.pull-right{:href => "#{static_pages_home_path}", :role => "button"} Zurück
  .col-lg-12
    - if @top_novelty
      = render "shared/novelty", panel_css_class: "panel-primary", novelty: @top_novelty

    - @older_novelties.each do |novelty|
      = render "shared/novelty", panel_css_class: "panel-default", novelty: novelty
      
    %a.btn.btn-default.pull-right{:href => "#{static_pages_home_path}", :role => "button"} Zurück
 
    .hspacer-4x
    .hspacer-4x