.page-header
  %h1
    Online Lernportal
    / <small>Subtext for header</small>
/.row
/  .col-lg-2
/    %a.thumbnail.category{:href => "#"}
/      = image_tag("placeholder_icon.png", alt: "Neuigkeiten icon")
/      %p.text-center
/    %a.btn.btn-default.pull-right{:href => "#{static_pages_home_path}", :role => "button"} Zurück
/  .col-lg-10
/    TODO Ablauf Online Test text ...

.row
  .col-md-12
    
    .hspacer-4x
    
    %h4 
      1. Test 
    %ul
      %li
        Fragestellungen entwickelt von Medizinstudenten und Spezialisten in den jeweiligen Themengebieten.
      %li
        Stetige Weiterentwicklung der Fragen, angepasst an den jeweils vorausgehenden Medizin-Aufnahmetest.
      %li
        Optimiert für mobile Geräte, wie Smartphones oder Tablets.
      %li
        Uneingeschränkte Nutzung bis zum Aufnahmetest am 3. Juli 2016 mit einer einmaligen Gebühr von EUR 49,90.
      %li
        Zusätzlich inkludiert ist der Download von zusammengefassten Skripten für den Basiskenntnistest mit Biologie, Chemie, Physik und Mathematik.
      %li
        Möglichkeit zum Üben der einzelnen Untertests oder eines Gesamttests, welcher immer neu per Zufall generiert wird.

    <br />
    <br />    

    %h4 
      2. Skripten
    %p
    Hier gibt es zu den vier Wissensteilen aus Biologie, Chemie, Physik und Mathematik jeweils ein Skript von je circa 70 Seiten mit den 
    wichtigsten Begriffen zum Stichwortverzeichnis, welches von der Universität zum Medizin-Aufnahmetest veröffentlicht wurde.
        
    

    .hspacer-4x
