.page-header
  %h1
    Profil
    / <small>Subtext for header</small>
    
%ul.nav.nav-tabs
  %li.active{:role => "presentation"}
    %a{:href => "#"}
      Dein Account Status
      %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
  %li{:role => "presentation"}
    = link_to "Deine Daten", static_pages_profile_data_path
    
%br/
%br/

.row
  .col-lg-2
    %a.thumbnail.category{:href => "#"}
      = image_tag("creditcard.png", alt: "Profil status icon")
      %p.text-center
  .col-lg-10
    %form{:role => "form"}
      .form-group
        %label{:for => "accountStatus"} Account Status
        %p.form-control-static.account-status.inactive
          %span.label.label-warning Eingeschränkt
        %p Dein Account ist derzeit eingeschränkt und du hast damit nur eingeschränkten Zugriff auf unsere Lerninhalte. Aktiviere deinen Account für 29,90€ mit der Kreditkarte, dies ermöglicht dir vollen Zugriff auf unser Angebot und du kannst dich uneingeschränkt weiterbilden. Wir freuen uns, dich effizient auf deine Prüfungen vorzubereiten!
      %button.btn.btn-default{:type => "button"} Account für 29,90€ aktivieren
%br/
%br/
.row
  .col-lg-2
    %a.thumbnail.category{:href => "#"}
      = image_tag("unlocked.png", alt: "Profil status icon")
      %p.text-center
  .col-lg-10
    %form{:role => "form"}
      .form-group
        %label{:for => "accountStatus"} Account Status
        %p.form-control-static.account-status.active
          %span.label.label-success Uneingeschränkt
        %p Dein Account ist bis zum bis 29.11.2014 uneingeschränkt aktiv, innerhalb dieses Zeitraumes kannst du auf unser gesamtes Angebot zurückgreifen und dich uneingeschränkt fortbilden. Wenn du mit unserem Angebot zufrieden bist, hast du hier auch die Möglichkeit dienen Account für ein weiteres Jahr zu verlängern.
    %button.btn.btn-default{:type => "button"} Account für 29,90€ ein weiteres Jahr verlängern
%br/
%br/