.page-header
  %h1
    Wähle ein Quiz
    / <small>Subtext for header</small>
%p
  Wähle ein Quiz. Es Umfasst ein Themengebiet das wiederum in Kategorien unterteilt ist.
%br/


- @quizzes.each_slice(3) do |quiz_row|
  .row
    - quiz_row.each do |quiz|
      .col-xs-4
        %a.thumbnail.category{:href => "#{static_pages_quiz_categories_path(:id => quiz.id)}"}
          = image_tag(quiz.image.thumb, alt: "") 
          %p.text-center=quiz.name
  
  
