.page-header
  %h1
    Quiz
    %small=@quiz.name 
.row
  .col-lg-2
    %a.thumbnail.category{:href => "#"}
      = image_tag("news.png", alt: "Quiz icon")
      %p.text-center
    %a.btn.btn-default.pull-right{:href => "#{static_pages_quiz_path}", :role => "button"} Zurück
  .col-lg-10
    - @quiz.categories.each do |category|
      %h3=category.name
      - category.questions.each_with_index do |question, index|
        .panel.panel-primary
          .panel-heading
            %h3.panel-title Frage #{index+1}
          .panel-body
            %p=preview_html_field(question.text)
        - question.answers.each_with_index do |answer, index_2|
          %ul.list-group
            %a.list-group-item.no-boarder{:href => "#", :class => "#{answer.correct? ? 'selected-answer' : ''}"}
              .answer
                - if answer.correct?
                  .answer-badge-q3.selected
                    %i.fa.fa-check-square-o
                    =answer_char(index_2)
                    / =index_2
                - else
                  .answer-badge-q3
                    %i.fa.fa-square-o
                    =answer_char(index_2)
                    / =index_2
                .answer-text=preview_html_field(answer.text)
