.page-header
  %h1
    Anleitung
    %small
      Quiz erstellen

.row
  .col-lg-12
    %h2 Wie ist ein Quiz aufgebaut?
    
    %p 
      Das Modell besteht aus 5 Ebenen. An oberster Stelle steht das Quiz. 
      Ein Quiz enthält Kategorien. Eine Kategorie enthält Fragenkontexte. 
      Fragenkontexte enthalten Fragen und, Fragen, enthalten schlußendlich Antworten.
      
    %p
      Folgendes Bild veranschaulicht das Quiz Modell mit seinen 5 Ebenen:
        
    %p
      = image_tag("readme/quiz_model.png", alt: "Quiz Modell")
      
      
.row
  .col-lg-12
    %h2 Ein einfaches Beispiel zum Durchklicken
    
    %p 
      Im Folgenden ein einfaches Quiz Beispiel zum durchklicken um das Quiz Modell besser kennenzulernen 

    #quiz-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      .panel.panel-primary
        #headingQuiz1.panel-heading{:role => "tab"}
          %h4.panel-title
            %a{"aria-controls" => "collapseQuiz1", "aria-expanded" => "true", "data-parent" => "#quiz-accordion", "data-toggle" => "collapse", :href => "#collapseQuiz1"}
              Quiz: Medizin Aufnahmetest MedAT 
              %var (aufklappbar)
        #collapseQuiz1.panel-collapse.collapse{"aria-labelledby" => "headingQuiz1", :role => "tabpanel"}
          .panel-body

            #category-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
              .panel.panel-info
                #headingCategory1.panel-heading{:role => "tab"}
                  %h4.panel-title
                    %a{"aria-controls" => "collapseCategory1", "aria-expanded" => "true", "data-parent" => "#category-accordion", "data-toggle" => "collapse", :href => "#collapseCategory1"}
                      Kategorie: Implikationen erkennen
                #collapseCategory1.panel-collapse.collapse{"aria-labelledby" => "headingCategory1", :role => "tabpanel"}
                  .panel-body
                    #contextA-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                      .panel.panel-warning
                        #headingContextA.panel-heading{:role => "tab"}
                          %h4.panel-title
                            %a{"aria-controls" => "collapseContextA", "aria-expanded" => "true", "data-parent" => "#contextA-accordion", "data-toggle" => "collapse", :href => "#collapseContextA"}
                              Fragenkontext: (leer, d.h. die Fragen sind eigenständig bzw. benötigen keinen Kontext)
                        #collapseContextA.panel-collapse.collapse{"aria-labelledby" => "headingContextA", :role => "tabpanel"}
                          .panel-body
                            #questionA1-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                              .panel.panel-danger
                                #headingQuestionA1.panel-heading{:role => "tab"}
                                  %h4.panel-title
                                    %a{"aria-controls" => "collapseQuestionA1", "aria-expanded" => "true", "data-parent" => "#questionA1-accordion", "data-toggle" => "collapse", :href => "#collapseQuestionA1"}
                                      Frage: Alle Menschen sind Lebewesen. Einige Lebewesen sind Tiere.
                                #collapseQuestionA1.panel-collapse.collapse{"aria-labelledby" => "headingQuestionA1", :role => "tabpanel"}
                                  .panel-body
                                    #answerA1-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                                      .panel.panel-success
                                        #headingAnswerA1.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswerA1", "aria-expanded" => "true", "data-parent" => "#answerA1-accordion", "data-toggle" => "collapse", :href => "#collapseAnswerA1"}
                                              Antwort: Alle Menschen sind Tiere
                                        #collapseAnswerA1.panel-collapse.collapse{"aria-labelledby" => "headingAnswer1", :role => "tabpanel"}
                                      .panel.panel-success
                                        #headingAnswerA2.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswerA2", "aria-expanded" => "true", "data-parent" => "#answerA1-accordion", "data-toggle" => "collapse", :href => "#collapseAnswerA2"}
                                              Antwort: Alle Menschen sind keine Tiere
                                        #collapseAnswerA2.panel-collapse.collapse{"aria-labelledby" => "headingAnswer2", :role => "tabpanel"}
                                      .panel.panel-success
                                        #headingAnswerA3.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswerA3", "aria-expanded" => "true", "data-parent" => "#answerA1-accordion", "data-toggle" => "collapse", :href => "#collapseAnswerA3"}
                                              Antwort: Einige Menschen sind Tiere
                                        #collapseAnswerA3.panel-collapse.collapse{"aria-labelledby" => "headingAnswer3", :role => "tabpanel"}
                                      .panel.panel-success
                                        #headingAnswerA4.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswerA4", "aria-expanded" => "true", "data-parent" => "#answerA1-accordion", "data-toggle" => "collapse", :href => "#collapseAnswerA4"}
                                              Antwort: Einige Menschen sind keine Tiere
                                        #collapseAnswerA4.panel-collapse.collapse{"aria-labelledby" => "headingAnswerA4", :role => "tabpanel"}
                                        
                            #questionA2-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                              .panel.panel-danger
                                #headingQuestionA2.panel-heading{:role => "tab"}
                                  %h4.panel-title
                                    %a{"aria-controls" => "collapseQuestionA2", "aria-expanded" => "true", "data-parent" => "#questionA2-accordion", "data-toggle" => "collapse", :href => "#collapseQuestionA2"}
                                      Frage: Alle Menschen sind Lebewesen. Alle Lebewesen sind Tiere.
                                #collapseQuestionA2.panel-collapse.collapse{"aria-labelledby" => "headingQuestionA2", :role => "tabpanel"}
                                  .panel-body
                                    #answerA21-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                                      .panel.panel-success
                                        #headingAnswerA21.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswerA21", "aria-expanded" => "true", "data-parent" => "#answerA21-accordion", "data-toggle" => "collapse", :href => "#collapseAnswerA21"}
                                              Antwort: Alle Menschen sind Tiere
                                        #collapseAnswerA21.panel-collapse.collapse{"aria-labelledby" => "headingAnswerA21", :role => "tabpanel"}
                                      .panel.panel-success
                                        #headingAnswerA22.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswerA2", "aria-expanded" => "true", "data-parent" => "#answerA22-accordion", "data-toggle" => "collapse", :href => "#collapseAnswerA22"}
                                              Antwort: Alle Menschen sind keine Tiere
                                        #collapseAnswerA22.panel-collapse.collapse{"aria-labelledby" => "headingAnswerA22", :role => "tabpanel"}
                                      .panel.panel-success
                                        #headingAnswerA23.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswerA3", "aria-expanded" => "true", "data-parent" => "#answerA23-accordion", "data-toggle" => "collapse", :href => "#collapseAnswerA23"}
                                              Antwort: Einige Menschen sind Tiere
                                        #collapseAnswerA23.panel-collapse.collapse{"aria-labelledby" => "headingAnswerA23", :role => "tabpanel"}
                                      .panel.panel-success
                                        #headingAnswerA24.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswerA4", "aria-expanded" => "true", "data-parent" => "#answerA24-accordion", "data-toggle" => "collapse", :href => "#collapseAnswerA24"}
                                              Antwort: Einige Menschen sind keine Tiere
                                        #collapseAnswerA24.panel-collapse.collapse{"aria-labelledby" => "headingAnswerA24", :role => "tabpanel"}
                                        
                            #questionA3-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                              .panel.panel-danger
                                #headingQuestionA3.panel-heading{:role => "tab"}
                                  %h4.panel-title
                                    %a{"aria-controls" => "collapseQuestionA3", "aria-expanded" => "true", "data-parent" => "#questionA3-accordion", "data-toggle" => "collapse", :href => "#collapseQuestionA3"}
                                      Weitere Fragen ...
                                #collapseQuestionA3.panel-collapse.collapse{"aria-labelledby" => "headingQuestionA3", :role => "tabpanel"}
                                  .panel-body
                                    Mit weiteren Antworten ...
                  
                  
                  
                  
              .panel.panel-info
                #headingCategory2.panel-heading{:role => "tab"}
                  %h4.panel-title
                    %a{"aria-controls" => "collapseCategory2", "aria-expanded" => "true", "data-parent" => "#category-accordion", "data-toggle" => "collapse", :href => "#collapseCategory2"}
                      Kategorie: Textverständnis
                #collapseCategory2.panel-collapse.collapse{"aria-labelledby" => "headingCategory2", :role => "tabpanel"}
                  .panel-body
                    #context-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                      .panel.panel-warning
                        #headingContext1.panel-heading{:role => "tab"}
                          %h4.panel-title
                            %a{"aria-controls" => "collapseContext1", "aria-expanded" => "true", "data-parent" => "#context-accordion", "data-toggle" => "collapse", :href => "#collapseContext1"}
                              Fragenkontext: 
                              %br/
                              %br/
                              Sie sahen ihn schon von weitem auf sich zukommen, denn er fiel auf. 
                              Er hatte ein ganz altes Gesicht, aber wie er ging, daran sah man, dass er erst zwanzig war. 
                              Er setzte sich mit seinem alten Gesicht zu ihnen auf die Bank. Und dann zeigte er ihnen, was er in der Hand trug.
                              Dann fragte die Frau: Und Ihre Familie?
                              Er lächelte sie verlegen an: Ach, sie meinen meine Eltern? ja, die sind auch mit weg. Alles ist weg. Alles, stellen Sie sich vor. Alles weg.
                              Sie haben wohl alles verloren?
                              Ja, ja, sagte er freudig, denken Sie, aber auch alles! Nur sie hier, sie ist übrig. Und er hob die Uhr wieder hoch, als ob die anderen sie noch nicht kannten. 
                        #collapseContext1.panel-collapse.collapse{"aria-labelledby" => "headingContext1", :role => "tabpanel"}
                          .panel-body
                            #question-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                              .panel.panel-danger
                                #headingQuestion1.panel-heading{:role => "tab"}
                                  %h4.panel-title
                                    %a{"aria-controls" => "collapseQuestion1", "aria-expanded" => "true", "data-parent" => "#question-accordion", "data-toggle" => "collapse", :href => "#collapseQuestion1"}
                                      Frage: Was trug die Person in ihrer Hand?
                                #collapseQuestion1.panel-collapse.collapse{"aria-labelledby" => "headingQuestion1", :role => "tabpanel"}
                                  .panel-body
                                    #answer-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                                      .panel.panel-success
                                        #headingAnswer1.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswer1", "aria-expanded" => "true", "data-parent" => "#answer-accordion", "data-toggle" => "collapse", :href => "#collapseAnswer1"}
                                              Antwort: Einen Aktenkoffer
                                        #collapseAnswer1.panel-collapse.collapse{"aria-labelledby" => "headingAnswer1", :role => "tabpanel"}
                                      .panel.panel-success
                                        #headingAnswer2.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswer2", "aria-expanded" => "true", "data-parent" => "#answer-accordion", "data-toggle" => "collapse", :href => "#collapseAnswer2"}
                                              Antwort: Ein Taschentuch
                                        #collapseAnswer2.panel-collapse.collapse{"aria-labelledby" => "headingAnswer2", :role => "tabpanel"}
                                      .panel.panel-success
                                        #headingAnswer3.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswer3", "aria-expanded" => "true", "data-parent" => "#answer-accordion", "data-toggle" => "collapse", :href => "#collapseAnswer3"}
                                              Antwort: Eine Uhr
                                        #collapseAnswer3.panel-collapse.collapse{"aria-labelledby" => "headingAnswer3", :role => "tabpanel"}
                                      .panel.panel-success
                                        #headingAnswer4.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswer4", "aria-expanded" => "true", "data-parent" => "#answer-accordion", "data-toggle" => "collapse", :href => "#collapseAnswer4"}
                                              Antwort: Einen Hut
                                        #collapseAnswer4.panel-collapse.collapse{"aria-labelledby" => "headingAnswer4", :role => "tabpanel"}
                            #question2-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                              .panel.panel-danger
                                #headingQuestion2.panel-heading{:role => "tab"}
                                  %h4.panel-title
                                    %a{"aria-controls" => "collapseQuestion2", "aria-expanded" => "true", "data-parent" => "#question2-accordion", "data-toggle" => "collapse", :href => "#collapseQuestion2"}
                                      Frage: Wie alt ist die Person die sich auf die Bank setzt?
                                #collapseQuestion2.panel-collapse.collapse{"aria-labelledby" => "headingQuestion2", :role => "tabpanel"}
                                  .panel-body
                                    #answer2-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                                      .panel.panel-success
                                        #headingAnswer12.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswer12", "aria-expanded" => "true", "data-parent" => "#answer2-accordion", "data-toggle" => "collapse", :href => "#collapseAnswer12"}
                                              Antwort: 50 Jahre
                                        #collapseAnswer12.panel-collapse.collapse{"aria-labelledby" => "headingAnswer12", :role => "tabpanel"}
                                      .panel.panel-success
                                        #headingAnswer22.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswer22", "aria-expanded" => "true", "data-parent" => "#answer2-accordion", "data-toggle" => "collapse", :href => "#collapseAnswer22"}
                                              Antwort: 40 Jahre
                                        #collapseAnswer22.panel-collapse.collapse{"aria-labelledby" => "headingAnswer22", :role => "tabpanel"}
                                      .panel.panel-success
                                        #headingAnswer32.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswer32", "aria-expanded" => "true", "data-parent" => "#answer2-accordion", "data-toggle" => "collapse", :href => "#collapseAnswer32"}
                                              Antwort: Das Alter der Person wird nicht angedeutet
                                        #collapseAnswer32.panel-collapse.collapse{"aria-labelledby" => "headingAnswer32", :role => "tabpanel"}
                                      .panel.panel-success
                                        #headingAnswer42.panel-heading{:role => "tab"}
                                          %h4.panel-title
                                            %a{"aria-controls" => "collapseAnswer42", "aria-expanded" => "true", "data-parent" => "#answer2-accordion", "data-toggle" => "collapse", :href => "#collapseAnswer42"}
                                              Antwort: 20 Jahre
                                        #collapseAnswer42.panel-collapse.collapse{"aria-labelledby" => "headingAnswer42", :role => "tabpanel"}
                            #question3-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                              .panel.panel-danger
                                #headingQuestion3.panel-heading{:role => "tab"}
                                  %h4.panel-title
                                    %a{"aria-controls" => "collapseQuestion3", "aria-expanded" => "true", "data-parent" => "#question3-accordion", "data-toggle" => "collapse", :href => "#collapseQuestion3"}
                                      Weitere Fragen ...
                                #collapseQuestion3.panel-collapse.collapse{"aria-labelledby" => "headingQuestion3", :role => "tabpanel"}
                                  .panel-body
                                    und Antworten ...
                                    
                    #context-accordion2.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                      .panel.panel-warning
                        #headingContext21.panel-heading{:role => "tab"}
                          %h4.panel-title
                            %a{"aria-controls" => "collapseContext21", "aria-expanded" => "true", "data-parent" => "#context-accordion2", "data-toggle" => "collapse", :href => "#collapseContext21"}
                              Weitere Fragenkontexte ...
                        #collapseContext21.panel-collapse.collapse{"aria-labelledby" => "headingContext21", :role => "tabpanel"}
                          .panel-body
                            mit weiteren Fragen und Antworten ...
                            
                            
    %p
      Das <mark>Quiz</mark> mit namen <strong>Medizin Aufnahmetest MedAT</strong> hat <mark>2 Kategorien</mark>, nämlich <strong>Implikationen erkennen</strong> und 
      <strong>Textverständnis</strong> 
    %p 
      Die Kategorie <em>Implikationen erkennen</em> besteht aus einem <mark>leeren Fragenkontext</mark>, 
      da sich die Fragen dieser Kategorie auf keinen Kontext beziehn bzw keinen benötigen.<br/>
      Die Kategorie <em>Textverständnis</em> hingegen besteht aus <mark>mehreren Fragenkontexten</mark>. 
      Jeder dieser Fragenkontexte besteht aus einer Kurzgeschichte und beinhaltet mehrere zugehörige (Verständnis-)Fragen.
      
    %p 
      Die Fragenkontexte beinhalten also <mark>Fragen</mark> und diese wiederum beinhalten <mark>Antworten</mark>. <br/>
      Die Antworten können, bezogen auf ihre Frage, richtig oder falsch sein.
      
                            
                            

                           
                                       
.row
  .col-lg-12   
    %h2 Erklärung der einzelnen Quiz Elemente
  
    %p
      Die einzelnen Elemente sind aufklappbar und enthalten Beschreibungen der wichtigsten Elementeigenschaften
  
    #desc-quiz-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      .panel.panel-primary
        #headingDescQuiz.panel-heading{:role => "tab"}
          %h2.panel-title
            %a{"aria-controls" => "collapseDescQuiz", "aria-expanded" => "true", "data-parent" => "#desc-quiz-accordion", "data-toggle" => "collapse", :href => "#collapseDescQuiz"}
              Quiz
        #collapseDescQuiz.panel-collapse.collapse{"aria-labelledby" => "headingDescQuiz", :role => "tabpanel"}
          .panel-body
            .row
              .col-lg-12
                %p
                  Im folgenden findest du die wichtigsten Eigenschaften des Quiz aufgelistet und erklärt
           
            .row
              .col-lg-12
                .well
                  %samp
                    %b Name
                    %br/ 
                    %br/
                    Der Name des Quizzes (z.b. 'Österreich')
                  .input-group
                    .input-group-addon Name
                    %input{:type => "text", :class => "form-control", :placeholder => "Österreich", "aria-describedby" => "sizing-addon2"}
              %br/
            
            .row
              .col-lg-12
                .well
                  %samp
                    %b Beschreibung
                    %br/
                    %br/
                    Ein Beschreibungstext zum Quiz (z.b. 'Dieses Quiz deckt den österreichischen Raum ab')
                  .input-group
                    .input-group-addon Beschreibung
                    %input{:type => "text", :class => "form-control", :placeholder => "Dieses Quiz deckt den österreichischen Raum ab", "aria-describedby" => "sizing-addon2"}
              %br/
            
            .row
              .col-lg-12
                .well
                  %samp
                    %b Veröffentlicht?
                    %br/
                    %br/
                    Ist das Quiz öffentlich sichtbar?, angekreuzt: ja, andernfalls: nein
                  .input-group
                    %span.input-group-addon 
                      %input{:type => "checkbox", "aria-label" => "Checkbox for following text input"}
                      Veröffentlicht?
                    %input{:type => "text", :class => "form-control", "aria-label" => "Text input with checkbox", :style => "width: 0px; padding: 0px;"}
              %br/
            
            .row
              .col-lg-12
                .well
                  %samp
                    %b Bild
                    %br/
                    %br/
                    Hier kann ein Bild für das Quiz hochgeladen werden. Es dient als Schaltfläche und erscheint dem Benutzer auf der Quiz Seite (derzeit nicht verfügbar)
                  %input{:type => "file", :class => "form-control", :name => "quiz[image]", :id => "quiz_image"} 
              %br/
            
            .row
              .col-lg-12
                .well
                  %samp
                    %b Derzeitiges Bild
                    %br/
                    %br/
                    Falls bereits ein Bild für dieses Quiz hochgeladen wurde, wird es hier angezeigt.
                  %img{:src => "", :class => "thumbnail"}
    
            .row
              .col-lg-12
                .well
                  %samp
                    %b Erstellt von
                    %br/
                    %br/
                    ID des Erstellers des Quiz

      
.row
  .col-lg-12   
    #desc-category-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      .panel.panel-info
        #headingDescCategory.panel-heading{:role => "tab"}
          %h2.panel-title
            %a{"aria-controls" => "collapseDescCategory", "aria-expanded" => "true", "data-parent" => "#desc-category-accordion", "data-toggle" => "collapse", :href => "#collapseDescCategory"}
              Kategorie
        #collapseDescCategory.panel-collapse.collapse{"aria-labelledby" => "headingDescCategory", :role => "tabpanel"}
          .panel-body
            .row
              .col-lg-12
                %p
                  Im folgenden findest du die wichtigsten Eigenschaften der Kategorie aufgelistet und erklärt
           
            .row
              .col-lg-12
                .well
                  %samp
                    %b Name
                    %br/ 
                    %br/
                    Der Name der Kategorie (z.b. 'Mathematik')
                  .input-group
                    .input-group-addon Name
                    %input{:type => "text", :class => "form-control", :placeholder => "Mathematik", "aria-describedby" => "sizing-addon2"}
              %br/
            
            .row
              .col-lg-12
                .well
                  %samp
                    %b Beschreibung
                    %br/
                    %br/
                    Eine Beschreibungstext zur Kategorie (z.b. 'Mathematikfragen des Medizin Aufnahmetests')
                  .input-group
                    .input-group-addon Beschreibung
                    %input{:type => "text", :class => "form-control", :placeholder => "Mathematikfragen des Medizin Aufnahmetests", "aria-describedby" => "sizing-addon2"}
              %br/
              
            .row
              .col-lg-12
                .well
                  %samp
                    %b Nur eine Frage wählbar?
                    %br/
                    %br/
                    Wieviele Antworten pro Frage kann der Benutzer (in dieser Kategorie) markieren kann?, angekreuzt:
                    nur eine Antwort kann vom Benutzer als richtig markiert werden, andernfalls: mehrere.
                  .input-group
                    %span.input-group-addon 
                      %input{:type => "checkbox", "aria-label" => "Checkbox for following text input"}
                      Nur eine Frage wählbar?
                    %input{:type => "text", :class => "form-control", "aria-label" => "Text input with checkbox", :style => "width: 0px; padding: 0px;"}
              %br/ 
               
            .row
              .col-lg-12
                .well
                  %samp
                    %b Veröffentlicht?
                    %br/
                    %br/
                    Ist die Kategorie öffentlich sichtbar?, angekreuzt: ja, andernfalls: nein
                  .input-group
                    %span.input-group-addon 
                      %input{:type => "checkbox", "aria-label" => "Checkbox for following text input"}
                      Veröffentlicht?
                    %input{:type => "text", :class => "form-control", "aria-label" => "Text input with checkbox", :style => "width: 0px; padding: 0px;"}
              %br/
            
            .row
              .col-lg-12
                .well
                  %samp
                    %b Bild
                    %br/
                    %br/
                    Hier kann ein Bild für die Kategorie hochgeladen werden. Es dient als Schaltfläche und erscheint dem Benutzer auf der Kategeroieauswahlseite. 
                  %input{:type => "file", :class => "form-control", :name => "quiz[image]", :id => "quiz_image"} 
              %br/
            
            .row
              .col-lg-12
                .well
                  %samp
                    %b Derzeitiges Bild
                    %br/
                    %br/
                    Falls bereits ein Bild für diese Kategorie hochgeladen wurde, wird es hier angezeigt
                  %img{:src => "", :class => "thumbnail"}
    
            .row
              .col-lg-12
                .well
                  %samp
                    %b Quiz
                    %br/
                    %br/
                    ID des Quiz zu dem diese Kategorie gehört
          
            .row
              .col-lg-12
                .well
                  %samp
                    %b Erstellt von
                    %br/
                    %br/
                    ID des Erstellers der Kategorie
              %br/
          
          
      
      
      
      
      
      
      
      
      
      
      
      
.row
  .col-lg-12   
    #desc-context-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      .panel.panel-warning
        #headingDescContext.panel-heading{:role => "tab"}
          %h2.panel-title
            %a{"aria-controls" => "collapseDescContext", "aria-expanded" => "true", "data-parent" => "#desc-context-accordion", "data-toggle" => "collapse", :href => "#collapseDescContext"}
              Fragenkontext
        #collapseDescContext.panel-collapse.collapse{"aria-labelledby" => "headingDescContext", :role => "tabpanel"}
          .panel-body
            .row
              .col-lg-12
                %p
                  Im folgenden findest du die wichtigsten Eigenschaften des Fragenkontextes aufgelistet und erklärt
           
            .row
              .col-lg-12
                .well
                  %samp
                    %b Inhalt
                    %br/ 
                    %br/
                    Der Kontext bzw. Inhalt zu einem Bündel von Fragen. 
                    Der Kontext könnte z.B. ein längerer Verständtnistext sein oder mehrere Bilder die sich der Benutzer einprägen soll.
                    Fragen die sich auf diesen Kontext beziehen, werden, unter diesem, später erstellt.
                    
                    Falls ein Set von Fragen vorliegt, das sich auf keinen Kontext bezieht, so muss trotzdem ein zugehöriger Kontext erstellt werden. 
                    Dieser (der Inhalt) kann dann aber leer sein, nur die Eigenschaft <mark>Workflow</mark> sollte auf <mark>context_not_visible</mark> gesetzt werden,
                    damit wird sichergestellt, dass dieser, während der Benutzer as Quiz spielt, nicht angezeigt wird.
                  .input-group
                    .input-group-addon Inhalt
                    %input{:type => "text", :class => "form-control", :placeholder => "Es waren einmal, vor langer langer Zeit, zwei Königreiche. Das eine nannte sich ...", "aria-describedby" => "sizing-addon2"}
              %br/
              
            .row
              .col-lg-12
                .well
                  %samp
                    %b Workflow
                    %br/
                    %br/
                    Der Worklfow legt fest wie die Fragen des Fragenkontextes dem Benutzer, während des Quizspiels, präsentiert werden. Es stehen 3 Workflow-Strategien zur verfügung:
                    %br/
                    %br/
                    <mark>context_not_visible</mark>:
                    der Fragenkontext (in diesem Fall nicht benötigt) wird dem Benutzer nicht angezeigt. 
                    Die Fragen des Kontextes werden dem Benutzer in zufälliger Abfolge präsentiert.
                    %br/
                    <mark>context_always_visible</mark>:
                    der Fragenkontext (z.B. ein längerer Verständtnistext) ist dem Benutzer immer zugäglich. 
                    Bei jeder Frage zum Kontext kann der Benutzer auch den Fragenkontext einsehen (dieser kann eingeblendet werden).
                    %br/
                    <mark>context_visible_at_beginning</mark>:
                    der Fragenkontext (z.B. ein Bild zum einprägen) ist dem Benutzer nur zu Beginn zugänglich.
                    Es folgen später die Fragen zu dem Kontext, den Kontext selbst kann der Benutzer dann aber nicht mehr einsehen.
                    
            .row
              .col-lg-12
                .well
                  %samp
                    %b Veröffentlicht?
                    %br/
                    %br/
                    Ist der Fragenkontext öffentlich sichtbar?, angekreuzt: ja, andernfalls: nein
                  .input-group
                    %span.input-group-addon 
                      %input{:type => "checkbox", "aria-label" => "Checkbox for following text input"}
                      Veröffentlicht?
                    %input{:type => "text", :class => "form-control", "aria-label" => "Text input with checkbox", :style => "width: 0px; padding: 0px;"}
              %br/
          
            .row
              .col-lg-12
                .well
                  %samp
                    %b Kategorie
                    %br/
                    %br/
                    ID der Kategorie zu dem der Fragenkontext gehört
             
            .row
              .col-lg-12
                .well
                  %samp
                    %b Erstellt von
                    %br/
                    %br/
                    ID des Erstellers des Fragenkontextes
              %br/
          
          
          
          
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
.row
  .col-lg-12   
    #desc-question-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      .panel.panel-danger
        #headingDescQuestion.panel-heading{:role => "tab"}
          %h2.panel-title
            %a{"aria-controls" => "collapseDescQuestion", "aria-expanded" => "true", "data-parent" => "#desc-question-accordion", "data-toggle" => "collapse", :href => "#collapseDescQuestion"}
              Frage
        #collapseDescQuestion.panel-collapse.collapse{"aria-labelledby" => "headingDescQuestion", :role => "tabpanel"}
          .panel-body
            .row
              .col-lg-12
                %p
                  Im folgenden findest du die wichtigsten Eigenschaften der Antwort aufgelistet und erklärt
           
            .row
              .col-lg-12
                .well
                  %samp
                    %b Text
                    %br/ 
                    %br/
                    Text der die Frage beschreibt. Der Fragetext kann über den Editor bearbeitet werden und es können z.b. auch Tabellen, Bilder und einiges mehr eingefügt werden
                  .input-group
                    .input-group-addon Text
                    %input{:type => "text", :class => "form-control", :placeholder => "Welches Lebewesen ist ein Säugetier?", "aria-describedby" => "sizing-addon2"}
              %br/
              
            .row
              .col-lg-12
                .well
                  %samp
                    %b Lösung? (optional)
                    %br/
                    %br/
                    Der Lösungstext kann wichtige Lösungshinweise/Hintergrundinformationen zur korrekten Antwort liefern.
                    Er wird angezeigt sobald der Benutzer das Quiz fertig gespielt hat bzw auf der Quiz-Ergebnisseite
                  .input-group
                    .input-group-addon Lösung
                    %input{:type => "text", :class => "form-control", :placeholder => "Trotz 'Fisch' im Namen, der Walfisch ist ein Säugetier!", "aria-describedby" => "sizing-addon2"}
              %br/
              
            .row
              .col-lg-12
                .well
                  %samp
                    %b Veröffentlicht?
                    %br/
                    %br/
                    Ist die Frage öffentlich sichtbar?, angekreuzt: ja, andernfalls: nein
                  .input-group
                    %span.input-group-addon 
                      %input{:type => "checkbox", "aria-label" => "Checkbox for following text input"}
                      Veröffentlicht?
                    %input{:type => "text", :class => "form-control", "aria-label" => "Text input with checkbox", :style => "width: 0px; padding: 0px;"}
              %br/
          
            .row
              .col-lg-12
                .well
                  %samp
                    %b Fragenkontext
                    %br/
                    %br/
                    ID des Fragenkontextes zu dem die Frage gehört
             
            .row
              .col-lg-12
                .well
                  %samp
                    %b Erstellt von
                    %br/
                    %br/
                    ID des Erstellers der Frage
              %br/
              
            .row
              .col-lg-12
                .well
                  %samp
                    %b Optional gleich Antworten dazuerstellen
                    %br/
                    %br/
                    Siehe Antwort für eine Erklärung der Antwort-Eigenschaften
              %br/
          
      
      
      
      
.row
  .col-lg-12   
    #desc-answer-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      .panel.panel-success
        #headingDescAnswer.panel-heading{:role => "tab"}
          %h2.panel-title
            %a{"aria-controls" => "collapseDescAnswer", "aria-expanded" => "true", "data-parent" => "#desc-answer-accordion", "data-toggle" => "collapse", :href => "#collapseDescAnswer"}
              Antwort
        #collapseDescAnswer.panel-collapse.collapse{"aria-labelledby" => "headingDescAnswer", :role => "tabpanel"}
          .panel-body
            .row
              .col-lg-12
                %p
                  Im folgenden findest du die wichtigsten Eigenschaften der Antwort aufgelistet und erklärt
           
            .row
              .col-lg-12
                .well
                  %samp
                    %b Text
                    %br/ 
                    %br/
                    Text der die Antwort beschreibt. Der Antworttext sollte sich immer auf die Frage, zu der die Antwort gehört, beziehen
                  .input-group
                    .input-group-addon Text
                    %input{:type => "text", :class => "form-control", :placeholder => "Haifisch", "aria-describedby" => "sizing-addon2"}
              %br/
              
            .row
              .col-lg-12
                .well
                  %samp
                    %b Korrekt?
                    %br/
                    %br/
                    Ist die Antwort im Bezug auf ihre zugehörige Frage richtig oder falsch?, angekreuzt: richtig, andernfalls: falsch
                  .input-group
                    %span.input-group-addon 
                      %input{:type => "checkbox", "aria-label" => "Checkbox for following text input"}
                      Korrekt?
                    %input{:type => "text", :class => "form-control", "aria-label" => "Text input with checkbox", :style => "width: 0px; padding: 0px;"}
              %br/
              
            .row
              .col-lg-12
                .well
                  %samp
                    %b Veröffentlicht?
                    %br/
                    %br/
                    Ist die Antwort öffentlich sichtbar?, angekreuzt: ja, andernfalls: nein
                  .input-group
                    %span.input-group-addon 
                      %input{:type => "checkbox", "aria-label" => "Checkbox for following text input"}
                      Veröffentlicht?
                    %input{:type => "text", :class => "form-control", "aria-label" => "Text input with checkbox", :style => "width: 0px; padding: 0px;"}
              %br/
          
            .row
              .col-lg-12
                .well
                  %samp
                    %b Frage
                    %br/
                    %br/
                    ID der Frage zu der die Antwort gehört bzw. sie sich bezieht
             
            .row
              .col-lg-12
                .well
                  %samp
                    %b Erstellt von
                    %br/
                    %br/
                    ID des Erstellers der Antwort
              %br/
          
          
          
          
.row
  .col-lg-12
    %h2 Weiteres ...
  
.row
  .col-lg-12
    #desc-mathjax-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      .panel.panel-default
        #headingDescMathjax.panel-heading{:role => "tab"}
          %h2.panel-title
            %a{"aria-controls" => "collapseDescMathjax", "aria-expanded" => "true", "data-parent" => "#desc-answer-accordion", "data-toggle" => "collapse", :href => "#collapseDescMathjax"}
              Wie gebe ich mathematische Ausdrücke ein?
        #collapseDescMathjax.panel-collapse.collapse{"aria-labelledby" => "headingDescMathjax", :role => "tabpanel"}
          .panel-body
            %h4 Eingabe
            
            %p 
              Mathematische Ausdrücke können durch die Verwendung der TeX oder LaTeX Syntax eingegeben werden. Folgendes ist dabei zu beachten:
              %br/
              %ol
                %li
                  Umschließe den TeX oder LaTeX Ausdruck mit <code>\( ... \)</code>, um ihn inline (mit dem Textfluß) anzuzeigen
                %li
                  Umschließe den TeX oder LaTeX Ausdruck mit <code>\[ ... \]</code> oder <code>$$ ... $$</code>, um ihn zentriert und in einer neuen Zeile anzugeben
                %li
                  Der Editor darf die Formel nicht in einen Code Block packen. <br/>
                  Falls dies geschieht, markieren die Formel und stelle den <b>Stil</b> auf <i>Stil</i> und das <b>Format</b> auf <i>Normal</i> <br/>
                  (siehe folgendes Bild)
              
              = image_tag("readme/mathjax_example.png", alt: "Mathjax Beispiel", style: "width: 80%;")
              
              %br/
              
            %h4 Beispiel
            
            %p
              Eingabe:
            .well
              %code
                Sei \( f \) eine Funktion und \( f(x) = ax^3 + bx^2 + cx + d \)
                %br/
                Welche Aussage trifft dann zu?
                %br/
                %br/
                Eine weitere wichtige zentrierte Formel:
                \\[ a^2 + b^2 = c^2 \]
                
            
                  
            %p
              %br/
              Die Ausgabe sieht folgendermaßen aus:
              .well
                Sei \( f \) eine Funktion und \( f(x) = ax^3 + bx^2 + cx + d \). 
                %br/
                Welche Aussage trifft dann zu?
                %br/
                %br/
                Eine weitere wichtige zentrierte Formel:
                \\[ a^2 + b^2 = c^2 \]
                
