.page-header
  %h1
    Anleitung
    %small
      Quiz erstellen

.row
  .col-lg-12
    %h2 Wie ist ein Quiz aufgebaut?
    
    %p
      Ein Quiz besteht aus vier Ebenen
      
    %ul
      %li Quiz
      %li Kategorien
      %li Fragenkontexte
      %li Fragen
      %li Antworten
      