.page-header
  %h1
    Wähle ein Quiz
    / <small>Subtext for header</small>
%p
  Wähle ein Quiz. Es Umfasst ein Themengebiet das wiederum in Kategorien unterteilt ist.
%br/


- (Quiz.all.published).each_slice(4) do |quiz_row|
  .row
    - quiz_row.each do |quiz|
      .col-lg-3
        %a.thumbnail.category{:href => "#{static_pages_quiz_categories_path(:id => quiz.id)}"}
          = image_tag(quiz.image.url, alt: "") 
          %p.text-center=quiz.name


