.page-header
  %h1
    Vorbereitungskurse
    / <small>Subtext for header</small>
    
.row
  .col-lg-12
    
    .hspacer-4x
    
    %h4
      Vorbereitungskurs Aufnahmeprüfung Medizinstudium MedAT

    %p
      Unser Angebot:

    %ul
      %li
        8 tägiger Intensivkurs in Telfs und/oder Innsbruck – je nach Nachfrage
      %li
        jeweils Mo-Mo von 9.00 bis 16.30 Uhr mit kurzen Pausen und ½ h Mittagspause
      %li
        Gesamte Kurskosten inkl Kursunterlagen und Prüfungsskripten: EUR 690,00
      %li
        Bei Bedarf kann auch ein günstiges Übernachtungspackage in der Nähe der Kursräumlichkeiten angeboten werden.
      %li
        Bei individuellen Defiziten in den einzelnen Bereichen kann jederzeit eine zusätzliche Stunde mit einem unserer Spezialisten in Anspruch genommen werden, um Schwächen gezielt und schnell aufzuarbeiten.
      %li
        Max. Teilnehmerzahl: 10 Personen


    .hspacer-4x
    
    
    %h4
      Termine
    
    .hspacer-2x
    
    %h4
      Tageskurs 2017
      
    %ul
      %li
        Mo, 26.6.
      %li
        Di, 27.6.
      %li
        Mi, 28.6.
      %li
        Do, 29.6.
      %li
        Fr, 30.6.
      %li
        Sa, 01.7.
      %li
        So, 02.7.
      %li
        Mo, 03.7. (Testsimulation)
      %li
        jeweils 9:00 bis 17:30 Uhr 
      

    .hspacer-4x
    
    %h4
      Das TrainerInnenteam

    %p
      Das medAT Trainerteam, bestehend aus aktuellen Medizinstudenten und Profis in den jeweiligen Fächern, erarbeitet mit den Kursteilnehmern effiziente Lösungsstrategien, erklärt auch die wichtigsten Stoffgebiete und hilft bei Schwierigkeiten in speziellen Themengebieten. Schwerpunkte bilden das Fortkommen unter Zeitdruck und die gegebenen Testformate des MedAT, damit es nicht zu unerwarteten Stresssituationen und Konzentrationsschwächen kommt.


    .hspacer-4x
    
    %h4
      Unterlagen

    %p
      In jedem Fachgebiet bekommt der Teilnehmer ein Skript mit selbst erstellten Fragestellungen mit Lösungsmöglichkeiten, wie auch der MedAT aufgebaut ist – diese können als zusätzliche Übung zu Hause erarbeitet werden.

    .hspacer-4x

    %h4
      MedAT
    
    %p
      An den Universitäten Innsbruck, Linz, Wien und Graz finden die Prüfungen gleichzeitig statt und sind auch ident. Mehr als 17.000 TeilnehmerInnen werden für den MedAT 2017 erwartet und 1560 Studienplätze stehen zur Verfügung.
    %p
      Die begrenzten Studienplätze erfordern es, dass die TeilnehmerInnen optimal vorbereitet und über Ablauf, Verfahren und Inhalt umfassend informiert sind.
    %p
      Durch eine Teilnahme an einem Vorbereitungskurs erhöhen sich die Chancen auf einen Platz im Medizinstudium um ein Vielfaches.
    %p
      Die Intensivkurse des MedAT von MMag. Stefan Stillebacher sind kompakt und es wird auf alle Themen der Stichwortliste eingegangen und mit professionellen mittleren bis schwierigen Prüfungsfragen aufgebarbeitet.
    
     

    .hspacer-4x
    

