.page-header
  %h1
    Vorbereitungskurse
    / <small>Subtext for header</small>
.row
  .col-lg-2
    %a.thumbnail.category{:href => "#"}
      = image_tag("placeholder_icon.png", alt: "Neuigkeiten icon")
      %p.text-center
    %a.btn.btn-default.pull-right{:href => "#{static_pages_home_path}", :role => "button"} Zurück
  .col-lg-10
    TODO text 