%script{:async => "async", "data-cfasync" => "false", "data-shr-siteid" => "7b5b399d2e191cf36ca2e342429d2224", :src => "//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js", :type => "text/javascript"}

.shareaholic-canvas{"data-app" => "share_buttons", "data-app-id" => "21339743"}