- model_class = Answer
.page-header
  %h1 Antwort editieren
= render :partial => 'form'

/= link_to 'Anzeigen', [@answer.question.category.quiz, @answer.question.category, @answer.question, @answer]
/|
\#{link_to 'Zurück', quiz_category_question_context_question_answers_path(@answer.question.question_context.category.quiz, @answer.question.question_context.category, @answer.question.question_context, @answer.question)}
