- model_class = Answer
.page-header
  %h1 Neue Antwort
= render :partial => 'form'

= link_to 'Zurück', quiz_category_question_context_question_answers_path(@quiz, @category, @question_context, @question)
