.context-box{:id => "context_#{@question.id}", :style => "display:none"}
  .panel.panel-primary.flat-corners
    .panel-heading.flat-corners
      %h3.panel-title Kontext
    .panel-body.scale-images
      /%p ALWAYS changed -> show
      =preview_html_field(@question.question_context.content)
      %a.btn.btn-default.pull-right.first-question{:id => 'lets-go', :href => "#", :role => "button"} Los gehts!
      


:javascript
  function hideLetsGoButton() {
    var letsGo = $("#lets-go");
    letsGo.hide();
  }
  
  function doOnLetsGoButtonClick() {
    hideContext();
    hideLetsGoButton();
    showContextButton();
    showQuestion();
  }
  
  $( document ).ready(function() {
    $('#lets-go').click(function (event) {
      doOnLetsGoButtonClick();
    });
    
    console.log("show context...");
    showContext();
  });