/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* cause of the fixed navbar (otherwise body behind navbar) */
body { 
	padding-top: 130px; 
}

.the-news, .news-headline {
	color: #0081E0;
}

.the-news {
	font-weight: bold;
}

a.btn-primary:visited {
	color: #FFFFFF;
}

.navbar-thumb {
	font-size: 2em;	
	color: #F3DA52;
	
	position: absolute;
	left: 15em;
	top: 1em;
}


h1.super {
	font-size: 5em;
	letter-spacing: -3px;
	color: rgba(0, 224, 216, 0.54); /*rgba(255, 255, 255, 0.53);*/
	font-weight: bold;
}




.rotate {
	margin-top: 3px;	
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
    }  
 
.rotate:hover  
{
	margin-top: 3px;	
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
} 





#quality-seal {
	position: absolute;
	width: 9em;
	top: 0.2em;
	right: -0.5em;
}


#jm-search-social {
	float: right;
	margin-top: -3.5em !important;
	position: absolute;
	top: 3.5em;
	right: 9.5em;
	/*left: 50%;
	transform: translate(-50%, 0px);*/
}
.clearfix {
    min-width: 0px;
    display: block;
}

#jm-allpage {
    position: relative;
}
#jm-allpage-in {
    max-width: 960px;
}
#jm-allpage-in {
    padding: 10px 20px;
    margin: 0px auto;
}
#jm-logo-search-social {
    margin-bottom: 5px;
}
#jm-logo-search-social #jm-logo-sitedesc {
    float: left;
}
#jm-logo-search-social #jm-social {
    float: right;
}

#jm-logo-search-social #jm-search-social {
    float: right;
}

.jm-icons .jm-facebook {
    background-image: url("navbar/facebook.png");
}
.jm-icons .jm-youtube {
    background-image: url("navbar/youtube.png");
}

.jm-icons span {
    display: block;
    width: 30px;
    height: 30px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    transition: all 0.2s ease-out 0s;
}
.jm-icons {
	padding-top: 7px;
    text-align: right;
    margin: 0px;
}

.jm-icons a:hover{
	background-color: transparent;
}

.countdown {
	text-align: center;
	padding: 0.5em;
	/*background-color: rgba(47, 93, 144, 1)*/;
	background-color: #0081E0;
}

.countdown h3 {
	color: #fff;
}

.countdown #getting-started {
	color: #fff;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 1em;
}

#timer {
	font-size: 0.8em;
	position: absolute;
	right: 2em;
	top: 2px;
}

