/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* cause of the fixed navbar (otherwise body behind navbar) */
body { 
	padding-top: 50px;/* 105px; */ 
}

/* fixes navbar background color when website on smallest scale */
.dropdown-menu {
    background-color: #FFFFFF !important;
}

/* scale images within question or context panel-bodyies */
.panel-body.scale-images img{
	max-width: 100%;
	height: auto !important;
}

.hspacer {
	height: 6px;
}

.marketing-area {
	background-color: #3E3E3E;
	color: #fff;
}

.featurette-bg1 {
	/*background-color: #5CC0FF;*/
}

.featurette-bg2 {
	/*background-color: #8FD4FF;*/
}

.news-section {
	/*padding-top: 1em;
	background-color: #3E3E3E;*/
	color: #fff;
}

.countdown-section {
	background-color: #0081E0;
}


.glow-button {
	max-width: 100px;
	width: 100%;
}

/*.the-news, .news-headline {
	color: #0081E0;
}

.the-news {
	text-align: center;
	font-weight: bold;
}*/


.indent-left {
    padding-left: 15px;
}

.sharebuttons {
    float: right;
    /*margin: auto;
    width: 216px;*/
}

a.btn-primary:visited {
	color: #FFFFFF;
}

.navbar-thumb {
	font-size: 2em;	
	color: #F3DA52;
	
	position: absolute;
	left: 15em;
	top: 1em;
}



h1.super {
	/*font-size: 5em;*/
	letter-spacing: -3px;
	color: rgba(0, 224, 216, 0.54); /*rgba(255, 255, 255, 0.53);*/
	font-weight: bold;
}




.rotate {
	margin-top: 3px;	
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
    }  
 
.rotate:hover  
{
	margin-top: 3px;	
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
} 





#quality-seal {
	position: absolute;
	width: 9em;
	top: -1em;
	right: -0.5em;
}


#jm-search-social {
	float: right;
	margin-top: -3.5em !important;
	position: absolute;
	top: 3.5em;
	right: 13em;
	/*left: 50%;
	transform: translate(-50%, 0px);*/
}
.clearfix {
    min-width: 0px;
    display: block;
}

#jm-allpage {
    position: relative;
}
#jm-allpage-in {
    max-width: 960px;
}
#jm-allpage-in {
    padding: 10px 20px;
    margin: 0px auto;
}
#jm-logo-search-social {
    margin-bottom: 5px;
}
#jm-logo-search-social #jm-logo-sitedesc {
    float: left;
}
#jm-logo-search-social #jm-social {
    float: right;
}

#jm-logo-search-social #jm-search-social {
    float: right;
}

.jm-icons .jm-facebook {
    background-image: url("navbar/facebook.png");
}
.jm-icons .jm-youtube {
    background-image: url("navbar/youtube.png");
}

.jm-icons span {
    display: block;
    width: 30px;
    height: 30px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    transition: all 0.2s ease-out 0s;
}
.jm-icons {
	padding-top: 7px;
    text-align: right;
    margin: 0px;
}

.jm-icons a:hover{
	background-color: transparent;
}

.countdown {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	padding: 0.5em;
	/*background-color: rgba(47, 93, 144, 1)*/;
	background-color: #0081E0;
	border-radius: 0px !important;
}

.countdown h3, .the-news h3 {
	color: #fff;
}

.box > h3 {
	font-weight: bold;
}

.box.news {
	/*background-color: rgba(0, 129, 224, 0.04);*/
	/*border-radius: 6px;*/
	/**margin-left: 1em;
	border-left: 18px solid #FFF;
	padding-left: 0.8em;*/
}

.box.news.head {
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #45a1e5; /*#F6C800; /*0081E0;*/
    margin-bottom: 6px;
    text-align: center;
}

.box.news.body {
    background-color: #ededed;
    color: #555;
    padding-top: 1em;
    /*padding-bottom: 1em;*/
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 6px;
}

.box.news.footer {
    background-color: #f8f8f8;
    color: #555;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 6px;
    padding-right: 6px;
    text-align: right;
}

.countdown #getting-started {
	color: #FFDB93;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 1em;
	
	font-size: 2em;
	font-weight: bold;
	padding-top: 4px;
	line-height: 1em;
}

#timer {
	font-size: 0.8em;
	position: absolute;
	right: 2.5em;
	top: 2px;
}


/* Images within links are brightened on hover */

a.glow {
    background-color: rgba(255, 255, 255, 0);
}

a.glow:hover {
	background-color: rgba(255, 255, 255, 0);
}

a.glow img {
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

a.glow:hover img {
    /*opacity: 0.7;*/
	-webkit-filter: saturate(3);
	-moz-filter:  saturate(3);
	-ms-filter:  saturate(3);
	-o-filter:  saturate(3);
	filter: saturate(3);
/* end brightened */
}


a.brighten {
  -webkit-transition: all 0.5s linear;
     -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
}

a.brighten:hover {
    color: #FFDB93;
    background-color: transparent;
    
    -webkit-filter: saturate(3);
    -moz-filter:  saturate(3);
    -ms-filter:  saturate(3);
    -o-filter:  saturate(3);
    filter: saturate(3);
}
