.hspacer

.row
  .col-lg-12
    %footer
      %p{:class => "pull-right"}
        %a{:href => "#"} Nach Oben
      %p 
        %a{:href => "#{static_pages_home_path}"} Home
        |  
        %a{:href => "#{static_pages_about_path}", :role => "button"} Impressum

      
.row
  .col-lg-12
    %p.text-align-center 
      &copy; 2015 Mag. Stefan Stillebacher 
      